<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.repository.TaskDao">

    <insert id="save">
        insert into
            task_management_system.task(
                                        ID,
                                        USER_ID,
                                        TASK_NAME,
                                        TASK_DESC,
                                        RELEASE_TIME,
                                        TASK_DURATION,
                                        TASK_STATE)
        values (
                   #{id},
                   #{userId},
                   #{taskName},
                   #{taskDesc},
                   now(),
                   #{taskDuration},
                   0
               )
    </insert>
    <select id="findAll"
            resultType="com.task.pojo.Task">
        select * from task_management_system.task
    </select>
    <select id="findByUserId"
            resultType="com.task.pojo.Task">
        select * from task_management_system.task where user_id = #{userId}
    </select>
</mapper>