<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.repository.TaskDao">

    <insert id="save">
        insert into task_management_system.task(ID,
                                                USER_ID,
                                                TASK_NAME,
                                                TASK_DESC,
                                                RELEASE_TIME,
                                                TASK_DURATION,
                                                TASK_STATE)
        values (#{id},
                #{userId},
                #{taskName},
                #{taskDesc},
                now(),
                #{taskDuration},
                0)
    </insert>
    <select id="findAll"
            resultType="com.task.pojo.Task">
        select *
        from task_management_system.task
    </select>

    <select id="findByUserId"
            resultType="com.task.pojo.Task">
        select *
        from task_management_system.task
        where user_id = #{userId}
    </select>

    <select id="findStateByUserId"
            resultType="com.task.pojo.Task">
        select *
        from task_management_system.task_user_receive as a
        where a.user_id = #{userId}
          and a.task_id = #{taskId}
    </select>
    <select id="findReceiveTask"
            resultType="com.task.pojo.Task">
        select *
        from
             task_management_system.task as a
        where
            a.id in (select task_id from task_management_system.task_user_receive as b where b.user_id = #{userId})
    </select>
    <select id="findReceiveTaskByState"
            resultType="com.task.pojo.Task">
        select *
        from
            task_management_system.task as a
        where
                a.id in (select task_id from task_management_system.task_user_receive as b where b.user_id = #{userId} and b.task_state = #{state})
    </select>

    <select id="findReceiveTaskStateByTaskId"
            resultType="com.task.pojo.TaskUserReceive">
            select * from task_management_system.task_user_receive where task_id = #{taskId}
    </select>

    <insert id="addReceiveUserById"
            parameterType="list">
        insert into
        task_management_system.task_user_receive(task_id, user_id, task_state)
        VALUES
        <foreach collection="requestUserId"
                 item="item"
                 index="index"
                 separator=",">
            (#{taskId},#{item},0)
        </foreach>
    </insert>
</mapper>