<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.task.repository.UserDao">
    <insert id="save">
        insert into task_management_system.user values (#{id},#{username},#{password},#{phoneNumber},#{address},1);
    </insert>
    <select id="findAll" resultType="com.task.pojo.User">
        select * from task_management_system.user;
    </select>
</mapper>